.right-pane__task-pane {
}

.task-pane {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.task-pane__header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #1b08ee;
    padding-block: 20px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    padding-inline: 20px;
    white-space: pre-wrap;
}

.task-pane__title {
    font-size: 18px;
    color: var(--primary-color);
}
.task-pane__description {
}
