/* @import url(https://fonts.googleapis.com/css?family=Epilogue:regular,700,800); */
@import url("https://fonts.googleapis.com/css2?family=Savate:ital,wght@0,200..900;1,200..900&display=swap");

/* Local fonts */
/* @import url("fonts.css"); */

/* Reset */
@import url("reset.css");

/* Keyframes */
@import url("keyframes.css");

:root {
    --primary-background-color: #151311;
    --primary-color: #ef6d58;
    --title-background-color: rgb(253, 240, 233);
    --title-color: rgb(57, 20, 0);
    --card-check: #27a205;
}

body {
    font-family: Savate, sans-serif;
}
textarea {
    resize: vertical;
}

#root {
    block-size: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: clip;
}
.wrapper > main {
    flex-grow: 1;
}
[class*="__container"] {
    max-width: 1170px;
    margin: 0 auto;
    padding-inline: 15px;
}

/** HEADER */
.header {
    background-color: var(--primary-background-color);
    padding-block: 20px;
    color: #fff;
    font-size: 32px;
    font-weight: 800;
}

.header__block {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header__block a {
    align-self: flex-start;
}

.header__block img {
    inline-size: 40px;
}

/** PAGE */
.page {
    display: flex;
}
.page__container {
    display: flex;
    inline-size: 100%;
}
.page-block {
    padding-block: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex-grow: 1;
}
.page-block__title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--title-background-color);
    padding-block: 20px;
    color: var(--title-color);
    font-size: 24px;
    font-weight: 800;
    padding-inline: 20px;
    white-space: pre-wrap;
}

.page-block__title h5 {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 600;
}
.page__main-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.task-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    /* align-items: center; */
    gap: 10px 15px;
    border: 1px solid var(--primary-background-color);
    padding: 20px 15px 10px;
    border-radius: 5px;
    transition: all 0.3s;
    min-height: 100%;
}
.task-card__title {
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
}
.task-card__description {
}

@media (any-hover: hover) {
    .task-card:hover {
        background-color: var(--primary-background-color);
        color: #fff;
    }
}

/* .task-card {
    border: "1px solid #000";
    padding: "10px";
    margin: "10px";
} */

/** SOLUTION RESULT */
.solution-result {
    overflow: auto;
}
.solution-result {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    overflow: auto;
    /* border: var(--primary-color) solid 1px; */
}

.solution-result__number-field {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.solution-result__number-field input {
    padding: 20px;
    background-color: #e7e7f2;
    border-radius: 5px;
}

.solution-result__table {
    border-collapse: collapse;
}
.solution-result__table caption {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 700;
    padding-block: 10px;
    text-transform: uppercase;
}
.solution-result__table thead {
    background-color: #28293e;
    color: #ffffff;
}
.solution-result__table tbody {
    background-color: #e7e7f2;
}

.solution-result__table th,
td {
    margin: 0;
    padding: 10px;
}

/** FOOTER */
.footer {
    background-color: var(--primary-background-color);
    color: var(--primary-color);
    font-weight: 700;
    text-align: center;
    padding-block: 15px;
}
