.header {
	background-color: var(--primary-background-color);
	padding-block: 20px;
	color: #fff;
	font-size: 32px;
	font-weight: 800;

	&__block {
		display: flex;
		gap: 20px;
		align-items: center;
	}

	&__block a {
		align-self: flex-start;
	}

	&__block img {
		inline-size: 40px;
	}
}
