.container {
  border: 2px solid green;
  padding: 20px;
  margin: 20px;
  width: 200px;
  height: 290px;
  border-radius: 20px;
  .img {
    width: 110px;
    height: 130px;
    object-fit: cover;
  }
  .logo {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
}
