.page-pane__task-pane {
}

.task-pane {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  align-items: center;
  /* block-size: 100%; */

  display: flex;
  flex-direction: column;
  min-block-size: 100%;
  overflow: clip;
}

.task-pane__header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--primary-background-color);
  padding-block: 20px;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px;
  white-space: pre-wrap;
  inline-size: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /* margin-block-end: 10px; */

  transition: all 0.3s;
}

.task-pane__title {
  font-size: 18px;
  color: var(--primary-color);
  text-align: end;
  padding-inline-end: 5px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;

  display: flex;
  justify-content: end;
  gap: 10px;
}
.task-pane__description {
  /* transition: opacity 0.3s height 0.3s; */
  /* transition: all 0.3s; */
}
.task-pane__description {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.4s ease 0.3s, max-height 0.4s ease 0.3s;
}

.task-pane__description--open {
  opacity: 1;
  max-height: 100%;
}

.task-pane__body {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  /* flex-wrap: wrap; */
  align-items: center;
  inline-size: 100%;
  /* block-size: 100%; */
}
.task-pane__body h2 {
  font-size: 18px;
  color: var(--text-color);
  font-weight: 600;
}
